.tab {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    // height: 400px; /* 设置固定高度 */
    .title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
}
